.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #ff0000; /* Adjust as needed */
    color: white;
  }
  
  .home-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #990000; /* Adjust as needed */
  }
  
  .logout-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .home-content {
    text-align: center;
    flex-grow: 1;
  }
  
  .service-options {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .service-option {
    margin: 0 1rem;
    text-align: center;
    cursor: pointer;
  }
  
  .service-option img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-bottom: 1rem;
  }
  
  .service-option button {
    background-color: white;
    border: none;
    color: #990000; /* Adjust as needed */
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .home-footer {
    background-color: #990000; /* Adjust as needed */
    width: 100%;
    text-align: center;
    padding: 1rem;
  }  